

    <title>DAKR SOLUTIONS</title>


    <!--=================================
    Modal login -->
    <div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h5 class="modal-title" id="loginModalLabel">Log in & Register</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs nav-tabs-02 justify-content-center" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false"> <span> Log in</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true"><span>Register</span></a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <form class="row my-4 align-items-center">
                  <div class="mb-3 col-sm-12">
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                  <div class="mb-3 col-sm-12">
                    <input type="Password" class="form-control" placeholder="Password">
                  </div>
                  <div class="col-sm-6 d-grid">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                  </div>
                  <div class="col-sm-6">
                    <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                      <li class="me-1"><a class="text-dark" href="#"><b>Already Registered User? Click here to login</b></a></li>
                    </ul>
                  </div>
                </form>
                <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded-sm">
                  <div class="mb-4 d-block text-center"><b class="bg-white ps-2 pe-2 mt-3 d-block">Login or Sign in with</b></div>
                  <form class="row">
                    <div class="col-sm-6">
                      <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f me-2"></i>Login with Facebook</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn twitter-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-twitter me-2"></i>Login with Twitter</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn instagram-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-instagram me-2"></i>Login with Instagram</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn linkedin-bg social-bg-hover d-block" href="#"><span><i class="fab fa-linkedin-in me-2"></i>Login with Linkedin</span></a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                <form class="row my-4 align-items-center">
                  <div class="mb-3 col-sm-12">
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                  <div class="mb-3 col-sm-12">
                    <input type="email" class="form-control" placeholder="Email Address">
                  </div>
                  <div class="mb-3 col-sm-12">
                    <input type="Password" class="form-control" placeholder="Password">
                  </div>
                  <div class="mb-3 col-sm-12">
                    <input type="Password" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="col-sm-6 d-grid">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                  </div>
                  <div class="col-sm-6">
                    <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                      <li class="me-1"><a class="text-dark" href="#"><b>Already Registered User? Click here to login</b></a></li>
                    </ul>
                  </div>
                </form>
                <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded-sm">
                  <div class="mb-4 d-block text-center"><b class="bg-white ps-2 pe-2 mt-3 d-block">Login or Sign in with</b></div>
                  <form class="row">
                    <div class="col-sm-6">
                      <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f me-2"></i>Login with Facebook</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn twitter-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-twitter me-2"></i>Login with Twitter</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn instagram-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-instagram me-2"></i>Login with Instagram</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn linkedin-bg social-bg-hover d-block" href="#"><span><i class="fab fa-linkedin-in me-2"></i>Login with Linkedin</span></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=================================
    Modal login -->
    

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('../../../assets/images/bg/03.jpg'); background-position: center; background-size: cover;">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">You can expand students access to learning</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="../../../index.html"><i class="fas fa-home me-1"></i>Home</a></li>
              <li class="breadcrumb-item active"><span>You can expand students access to learning</span></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Inner Header -->
    
    <!--=================================
    blog single -->
    <section class="space-ptb">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-xl-8">
            <div class="blog-post blog-details">
              <div class="blog-post-image">
                <img class="img-fluid" src="../../../assets/images/blog/01.jpg" alt="">
              </div>
              <div class="blog-post-content">
                <div class="blog-post-info">
                  <div class="blog-post-author">
                    <a href="#" class="btn btn-link"><i class="far fa-folder-open"></i>Marketing</a>
                  </div>
                  <div class="blog-post-date"><a href="#"><i class="far fa-calendar"></i>Jan 4, 2020 </a></div>
                </div>
                <div class="blog-post-details">
                  <p>We are DAKR SOLUTIONS leading IT training institute in hyderabad healping students to achieve their dream job in IT industry. By making them techinically strong with real time projects. </p>
                  <p class="mb-md-5 mb-4">If you look back, you will notice that your past is there. you may face so many problems . now it's time think big and get big so come and join with us to get a job with good package in IT industry.</p>
                        <p><b>OUR MISSION</b></p>
                          
                   <p> <b>WHAT IS DAKR??</b></p>
                    <p>DAKR Solutions is an IT company….</p>

                   <p><b> WHO IS DAKR??</b></p> 
                   <p> DAKR is a solution to light up your dreams in the IT sector...</p>
                   <p><b> WHY DAKR??</b></p>
                 <p>   DAKR provides training to the students in IT sectors with Real Time Projects.DAKR has emerged with Real Time Trainers. Our trainers are from HTC Global Services,GE,Virtusa,optum etc.We provide a more sustainable solution to solve a Problem.For eligible students we provide free of cost training .</p>
                       <p>       Our aim is to spread our IT knowledge and Build an Organization to guide a right path to the students.Our motive is to give guidance and show them the path to a successful career,  for the Students who are interested and well talented but with lack of knowledge and proper guidance.Dakr is the platform where students get practical knowledge on how it industry works…We believe everyone has a talent, we want to sharpen their knowledge with our experience and services.DAKR gives 100% guarantee placements..We are Providing certified training in less budget as well as  we are offering Scholarships and internships for the students who are eligible.
                        We Will add colors to Your Dreams with OUR EXPERIENCE…
                    Join with DAKR and be a part of a race, for future…
                    Our website : www.dakrsolutions.com
                    Email Us On : dakroslution@gmail.com
                    </p>
                    <p>My name is laxmi. I completed my btech from BTECH in jayamukhi institute of technology at Warangal in 2019. After my graduation I taught to work in the banking sector and I tried for the same to be a bank employee. It has taken 3 years but unfortunately due to financial and personal issues I haven't focused much on it and later on I decided to get into IT so Started trying to be a part of IT and was involved in taking the training but due to no proper guidance and lack in quality of training which they provided. I lost all my hopes towards my career, then I got a call from my friend that she was placed in good company with help from DAKR.
                      She recommended that to join in  DAKR. I joined with DAKR and i have taken training with architect person who is having 10+ real time experience into IT. This training is very practical and I involved very much in doing programs, designing websites. Then i felt that i fit for this IT position. Successfully after my completion of my course I was placed in a good MNC company with a good package.
                      Thank You so much to the DAKR team for helping me also standing with me in all the high times to get into the IT sector.
                      feeling blessed.
                      I thank my friend who approached me and shared her positive vibes.
                      Join with DAKR and be a part of a race, for future…
                      Our website : www.dakrsolutions.com
                      Email Us On : dakroslution@gmail.com
                      </p>
                      <p><b>DAKR:</b> </p>

                      <p>  Our team DAKR promises you that we provide you the best and quality training here real time industrial projects and labs will be monitored by us. We have many programs and benefits like One faculty to five students, One faculty to ten students, real time experienced faculty, industrial level projects. 
                        
                        We provide training on  Java Full-Stack Development, AWS DevOps, Digital Marketing, Data Structures and Algorithms. We also provide free courses for the eligible candidates, internship, scholarship, 100% Job Guarantee. We also have our own products meaning DAKR is a product based company, here we have digital marketing, IT platform and many more. 
                        
                        We will stay along with you from day 1 till you get success in particular which you choosed. We provide quality material with good stuff.
                        Please support us.
                        Join with DAKR and be a part of a race, for future…Contact us on below details for any additional info required:
                        website: www.dakrsolutions.com
                        Email Us On: dakrsolution@gmail.com
                        </p>
                        <p>
                          Java is an object oriented programming language.JAVA is used for Developing applications.  Java is a high-level languageJava is a platform  independent.Available for all users.Java was originally developed by “JAMES GOSLING” at SUN microsystems in 1995. And java was called as “OAK” After an OAK Tree that stood Outside Of 	Gosling’s Office.Later the “OAK” has been renamed into “GREEN”.isn’t it interesting??and then it was finally renamed to “JAVA”  and they got the idea from the “JAVA” Island in Indonesia..In real time JAVA is an island name which is located between sumatra and bali which is a volcano dotted island…
       We DAKR solutions provide Java training With Architect level Who is having 10+ years of Experience into Real Time in IT Sector.
 In Training we Provide:
Every concept is Trained in IT Level.
Assignments are provided in Real Time IT Level.
Every Problem is Solved in Debugging mode. 
Laboratories Sessions are Under Taken by a Faculty.
We Involve the students into real time projects.
We also Offer Internships for students.
We provide Free training for eligible Candidates.                     

Join with DAKR and be a part of a race, for future…Contact us on below details for any additional info required:
website: www.dakrsolutions.com
Email Us On: dakrsolution@gmail.com

                        </p>



                  <ul class="list list-unstyled">
                    <li class="d-flex"><i class="far fa-circle"></i><span>Pause here for a few moments and have a think</span></li>
                    <li class="d-flex"><i class="far fa-circle"></i><span>If you were to choose the path to the left</span></li>
                    <li class="d-flex"><i class="far fa-circle"></i><span>You carry on doing the same things</span></li>
                    <li class="d-flex"><i class="far fa-circle"></i><span>Think about that as you stand at this place where the path splits</span></li>
                    <li class="d-flex"><i class="far fa-circle"></i><span>You want to make a decision and commit to one of these paths</span></li>
                  </ul>
                </div>

              
                <div class="blog-post-footer d-flex flex-wrap align-items-center mt-5">
                  <a href="#" class="btn btn-link"> Design, </a>
                  <a href="#" class="btn btn-link"> Development,</a>
                  <a href="#" class="btn btn-link"> Marketing,</a>
                  <a href="#" class="btn btn-link"> Business,</a>
                  <div class="social-share ms-auto mt-2 mt-sm-0">
                    <a href="#"><i class="fas fa-share-alt me-2 text-primary"></i></a>
                    <ul class="social-share">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="mt-4 mt-sm-5">
                <nav class="navigation post-navigation">
                  <div class="nav-links">
                    <div class="nav-previous">
                      <a href="#"><span class="pagi-text"> PREV</span><span class="nav-title">The greatest choice of courses</span></a>
                    </div>
                    <div class="nav-next">
                      <a href="#"><span class="nav-title">12 great free online courses</span> <span class="pagi-text">NEXT</span></a> </div>
                    </div>
                  </nav>
                </div>
                <div class="mt-4 mt-sm-5">
                  <h4 class="my-4">Related Posts</h4>
                  <div class="owl-carousel" data-nav-arrow="false" data-items="2" data-md-items="2" data-sm-items="2" data-xs-items="1" data-xx-items="1" data-space="30" data-autoheight="true" data-autospeed="6000">
                    <div class="item">
                      <div class="blog-post">
                        <div class="blog-post-image">
                          <img class="img-fluid" src="../../../assets/images/blog/02.jpg" alt="">
                        </div>
                        <div class="blog-post-content">
                          <div class="blog-post-info">
                            <div class="blog-post-author">
                              <a href="#" class="btn btn-link"><i class="far fa-folder-open"></i>Design</a>
                            </div>
                            <div class="blog-post-date"><a href="#"><i class="far fa-calendar"></i>Jan 20, 2023 </a></div>
                          </div>
                          <div class="blog-post-details">
                            <h6 class="blog-post-title">
                            <a href="blog-single.html">You can expand students access to learning</a>
                            </h6>
                            <p class="mb-0">Concentrate on your breathing, engage in the moment and spend some time being still </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="blog-post">
                        <div class="blog-post-image">
                          <img class="img-fluid" src="../../../assets/images/blog/03.jpg" alt="">
                        </div>
                        <div class="blog-post-content">
                          <div class="blog-post-info">
                            <div class="blog-post-author">
                              <a href="#" class="btn btn-link"><i class="far fa-folder-open"></i>jobs</a>
                            </div>
                            <div class="blog-post-date"><a href="#"><i class="far fa-calendar"></i>May 13, 2020 </a></div>
                          </div>
                          <div class="blog-post-details">
                            <h6 class="blog-post-title">
                            <a href="blog-single.html">The greatest choice of courses</a>
                            </h6>
                            <p class="mb-0">If you look back, you will notice that your past is there; everything </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="blog-post">
                        <div class="blog-post-image">
                          <img class="img-fluid" src="../../../assets/images/blog/04.jpg" alt="">
                        </div>
                        <div class="blog-post-content">
                          <div class="blog-post-info">
                            <div class="blog-post-author">
                              <a href="#" class="btn btn-link"><i class="far fa-folder-open"></i>Focus</a>
                            </div>
                            <div class="blog-post-date"><a href="#"><i class="far fa-calendar"></i>April 18, 2020 </a></div>
                          </div>
                          <div class="blog-post-details">
                            <h6 class="blog-post-title">
                            <a href="blog-single.html">12 great free online courses</a>
                            </h6>
                            <p class="mb-0">Make it sensory rich and get comfortable with the idea. Imagine the feeling of your</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4 my-sm-5">
                <div class="mt-5">
                  <h4>Leave a Reply</h4>
                  <p>Your email address will not be published. Required fields are marked *</p>
                  <form class="form-flat-style">
                    <div class="row">
                      <div class="mb-3 col-md-4">
                        <input type="text" class="form-control" placeholder="Name">
                      </div>
                      <div class="mb-3 col-md-4">
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="mb-3 col-md-4">
                        <input type="text" class="form-control" placeholder="Website">
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-md-12">
                        <textarea rows="8" class="form-control" id="sector" placeholder="Comment"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-md-12">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label pe-5" for="customCheck1">I consent to having this website store my submitted information so they can respond to my inquiry.</label>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="btn btn-primary"> Post comment</a>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-xl-4 mt-4 mt-md-0 order-2 order-lg-1">
              <div class="blog-sidebar">
                <div class="widgets">
                  <div class="widget">
                    <h6 class="widget-title">Opening hours</h6>
                    <div class="widget-content">
                      <ul class="list-unstyled mb-0">
                        <li class="d-flex align-items-center mb-2">
                          <i class="far fa-clock text-primary me-2"></i><b class="text-dark me-auto">Monday</b>
                          <label class="mb-0">10:00 - 07:00</label>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                          <i class="far fa-clock text-primary me-2"></i><b class="text-dark me-auto">Tuesday</b>
                          <label class="mb-0">10:00 - 07:00</label>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                          <i class="far fa-clock text-primary me-2"></i><b class="text-dark me-auto">Wednesday</b>
                          <label class="mb-0">10:00 - 07:00</label>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                          <i class="far fa-clock text-primary me-2"></i><b class="text-dark me-auto">Thursday</b>
                          <label class="mb-0">10:00 - 07:00</label>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                          <i class="far fa-clock text-primary me-2"></i><b class="text-dark me-auto">Friday</b>
                          <label class="mb-0">10:00 - 07:00</label>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                          <i class="far fa-clock text-primary me-2"></i><b class="text-dark me-auto">Saturday</b>
                          <label class="mb-0">10:00 - 07:00</label>
                        </li>
                        <li class="d-flex align-items-center">
                          <i class="far fa-clock text-primary me-2"></i><b class="text-dark me-auto">Sunday</b>
                          <label class="mb-0">Closed</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="widget">
                    <h6 class="widget-title">Recently Started Batches </h6>
                    <div class="widget-content">
                      <div class="row">
                        <div class="col-12 d-flex mb-3">
                          <div class="recent-post-img avatar avatar-lg me-3">
                            <img class="img-fluid" src="../../../assets/images/blog/05.jpg" alt="">
                          </div>
                          <div class="recent-post-info">
                            <small class="d-block">july 18, 2022</small>
                            <a href="#"><b>First Batch</b></a>
                          </div>
                        </div>
                        <div class="col-12 d-flex mb-3">
                          <div class="recent-post-img avatar avatar-lg me-3">
                            <img class="img-fluid" src="../../../assets/images/blog/06.jpg" alt="">
                          </div>
                          <div class="recent-post-info">
                            <small class="d-block">August 25, 2022</small>
                            <a href="#"><b>Second Batch</b></a>
                          </div>
                        </div>
                        <div class="col-12 d-flex">
                          <div class="recent-post-img avatar avatar-lg me-3">
                            <img class="img-fluid" src="../../../assets/images/blog/07.jpg" alt="">
                          </div>
                          <div class="recent-post-info">
                            <small class="d-block">November 22, 2022</small>
                            <a href="../java/java.component.html"><b>Third  Batch</b></a>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="widget">
                    <h6 class="widget-title">Where To Find Us </h6>
                    <div class="widget-content">
                      <div class="row">
                        <div class="col-12 d-flex mb-3">
                          <div class="text-primary me-3">
                            <i class="fas fa-2x fa-map-signs"></i>
                          </div>
                          <div class="recent-post-info">
                            <span>Apt, Sri Datta Sai Towers, 16-11-741/c/1, #202, Indira Nagar, Dilsukhnagar
                              Hyderabad, Telangana 500060</span>
                          </div>
                        </div>
                        <div class="col-12 d-flex mb-3">
                          <div class="text-primary me-3">
                            <i class="far fa-2x fa-envelope"></i>
                          </div>
                          <div class="recent-post-info">
                            <span>dakr@dakrenterprises.com<br> Mon-Fri 10:00am-7:00pm</span>
                          </div>
                        </div>
                        <div class="col-12 d-flex">
                          <div class="text-primary me-3">
                            <i class="fas fa-2x fa-headphones-alt"></i>
                          </div>
                          <div class="recent-post-info">
                            <span> <a class="text-body" href="tel:+123-345-6789">+91 9581164101</a><br> 24 X 7 online support</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="widget">
                    <h6 class="widget-title">Sign up for our newsletter</h6>
                    <div class="widget-content">
                      <p>Sign up to our Newsletter to get the latest news and offers. </p>
                      <form class="form-inline input-with-btn">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-sm" placeholder="Enter your email">
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                  <div class="widget">
                    <h6 class="widget-title">Testimonials</h6>
                    <div class="widget-content">
                      <div class="owl-carousel testimonial-style-02" data-nav-arrow="false" data-nav-dots="false" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1" data-space="0" data-autoheight="true">
                        <div class="item">
                          <div class="testimonial-item">
                            <div class="author-img">
                              <img src="../../../assets/images/avatar/01.jpg" alt="" >
                            </div>
                            <div class="testimonial-content">
                              <p>We were treated like royalty. Needless to say we are extremely satisfied with the results. Thank you for making it painless, pleasant and most of all hassle free! It fits our needs perfectly.</p>
                            </div>
                            <div class="testimonial-author">
                              <div class="testimonial-name">
                                <p class="mb-1 text-dark fw-bold">Michael Bean</p>
                                <small>Web Developer</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="testimonial-item">
                            <div class="author-img">
                              <img src="../../../assets/images/avatar/02.jpg" alt="" >
                            </div>
                            <div class="testimonial-content">
                              <p>I have gotten at least 50 times the value from Guruma. I will let my mum know about this, she could really make use of Guruma! Wow what great service, I love it! Guruma is the real deal!</p>
                            </div>
                            <div class="testimonial-author">
                              <div class="testimonial-name">
                                <p class="mb-1 text-dark fw-bold">Mariquilla V.</p>
                                <small>Production Manager</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="testimonial-item">
                            <div class="author-img">
                              <img src="../../../assets/images/avatar/03.jpg" alt="" >
                            </div>
                            <div class="testimonial-content">
                              <p>We've seen amazing results already. Since I invested in Guruma I made over 100,000 dollars profits. It's the perfect solution for our business. I was amazed at the quality of Guruma.</p>
                            </div>
                            <div class="testimonial-author">
                              <div class="testimonial-name">
                                <p class="mb-1 text-dark fw-bold">Fern W.</p>
                                <small>Vetrov Systems Development</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      blog single -->


      
      <!--=================================
    footer-->
    <footer class="footer footer-dark space-ptb bg-dark">
      <div class="container">
       
        <div class="row">
          <div class="col-12">
            <hr class="my-5 opacity-1">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="footer-contact-info">
              <div class="footer-logo mb-2">
                <a href="../../../index.html"><img class="img-fluid" src="../../../assets/images/Screenshot_20230107_113200-removebg-preview.png" alt=""></a>
              </div>
              <div class="contact-address">
                <div class="contact-item mb-3 mb-md-4">
                  <p>Apt, Sri Datta Sai Towers, 16-11-741/c/1, #202, Indira Nagar <br>Hyderabad, Telangana 500060</p>
                </div>
                <div class="contact-item mb-3 mb-md-4">
                  <h4 class="mb-0 fw-normal"><a href="#" class="text-primary">+91 9581164101</a></h4>
                </div>
                <div class="contact-item">
                  <a href="#">dakr@dakrenterprises.com</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 col-lg-4 mb-4 mb-lg-0">
            <h5 class="footer-title text-primary">Explore</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">
                <li><a href="#">Overview</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Success story</a></li>
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
              <ul class="list-unstyled mb-0">
                <li><a href="#">Help</a></li>
                <li><a href="#">Our news</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
            <h5 class="footer-title text-primary">Resources</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">
                <li><a href="#">Donors</a></li>
                <li><a href="#">Educators</a></li>
                <li><a href="#">Professionals</a></li>
                <li><a href="#">Become A Teacher</a></li>
                <li><a href="#">Student Profile</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <h5 class="footer-title text-primary">Subscribe us</h5>
            <p>Sign up to our newsletter to get the latest news and offers.</p>
            <form>
              <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email*">
              </div>
              <button type="submit" class="btn btn-sm btn-primary">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom pt-5 pb-0 bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="social-icon text-md-start text-center mb-3 mb-md-0">
                <ul>
                  <li><a href="https://www.facebook.com/profile.php?id=100089753744783"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/DakrSolutions"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="https://www.instagram.com/dakr_solutions/"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.dakrsolutions.com/#/home"><i class="fab fa-google"></i></a></li>
                  <li><a href="https://www.youtube.com/@dakrsolution/playlists"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="copyright text-md-end text-center">
                <p class="mb-0 small">© Copyright 2021 <a href="#">DAKR Solutions</a> All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--=================================
    footer-->


      <!--=================================
      Back To Top -->
      <div id="back-to-top" class="back-to-top">
        <a href="#"><i class="fas fa-chevron-up"></i></a>
      </div>
      <!--=================================
      Back To Top -->
      
     